/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #dde;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}

/* || typography */

font[size="7"], font[size="6"], font[size="5"] {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

p, input, li, table, label {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

font[size="7"] {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

font[size="6"] {
  font-size: 3rem;
  text-align: center;
}

font[size="5"] {
  font-size: 2.2rem;
}

p, li, table {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

div[class="nav"], article, footer, .secondary {
  background-color: white;
}

article, footer, .secondary {
  padding: 10px 30px;
}

article {
  margin-right: 10px;
}

       div[class="nav"] {
  height: 50px;
  background-color: ff80ff;
  display: flex;
  padding: 1% 0;
  margin-bottom: 10px;
}

div[class="nav"] ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

div[class="nav"] li {
  display: inline;
  text-align: center;
  flex: 1;
}

div[class="nav"] a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

div[class="nav"] .search {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

div[class="nav"] a:hover {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #3461eb;
}
.search input {
  font-size: 1.6rem;
  height: 32px;
}

.search input[type="search"] {
  flex: 3;
}

.search input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 5;
}

.secondary {
  flex: 2;
}

footer {
  margin-top: 10px;
}

/* Table styling */

table {
  width: 100%;
  background-color: #dde;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

td {
  text-align: center;
}

th[scope="col"] {
  border-bottom: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #def;
}


}



